@font-face {
    font-family: 'iconfont';
    /* project id 1452693 */
    src: url('//at.alicdn.com/t/font_1452693_f3cq3qddwfr.eot');
    src: url('//at.alicdn.com/t/font_1452693_f3cq3qddwfr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1452693_f3cq3qddwfr.woff2') format('woff2'), url('//at.alicdn.com/t/font_1452693_f3cq3qddwfr.woff') format('woff'), url('//at.alicdn.com/t/font_1452693_f3cq3qddwfr.ttf') format('truetype'), url('//at.alicdn.com/t/font_1452693_f3cq3qddwfr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sanylAa:before {
    content: "\e69a";
}

.sanylAb:before {
    content: "\e69a";
}

.sanylAc:before {
    content: "\e699";
}